################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/laba1/.vs/laba1
/.vs
/laba1/laba1/x64/Debug
/laba1/x64/Debug
